{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "comma-dangle": ["warn", "only-multiline"],
    "semi": "warn",
    "quotes": 1
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  }
}