@import "normalize.css";

code {
  font-family: monospace;
  line-height: 1;
}

body {
  padding: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 1.5;
}

.food-list {
  min-height: 250px;
}
